/* App.css */
/* Add your custom styles here */

/* Example: Centering the main container */
.container {
  margin: 0 auto;
  max-width: 800px; /* Adjust to your preferred width */
}

.fancy-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff; /* Blue color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}
.no-records-message {
  font-size: 18px;
  color: #888;
  margin-top: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh; /* Adjust the height as needed */
}
